<c-container>
  <c-card class="mb-4">
    <c-card-header>
      <form
        [formGroup]="TableFrom"
        (submit)="Save()"
        class="form-group"
        tableName
      >
        <c-row class="mb-3">
          <c-col [sm]="7">
            <h5 *ngIf="data.storeId">Edit Store</h5>
            <h5 *ngIf="!data.storeId">Add Store</h5>
          </c-col>

          <c-col [sm]="5">
            <c-button-group
              aria-label="Basic mixed styles example"
              role="group"
            >
              <button
                cButton
                color="success"
                [disabled]="!TableFrom.valid"
                type="submit"
              >
                <svg
                  cIcon
                  name="cilSave"
                  size="sm"
                  title="Paper Plane Icon"
                ></svg>
                | Save
              </button>
              <button cButton color="primary" (click)="New()">
                <svg
                  cIcon
                  name="cilReload"
                  size="sm"
                  title="Paper Plane Icon"
                ></svg>
                | New
              </button>
              <button
                cButton
                color="danger"
                (click)="delete()"
                [disabled]="!data.storeId"
              >
                <svg
                  cIcon
                  name="cilDelete"
                  size="sm"
                  title="Paper Plane Icon"
                ></svg>
                | Delete
              </button>
            </c-button-group>
          </c-col>
        </c-row>

        <hr />
        <c-row class="mb-3">
          <c-col [sm]="9">
            <c-row class="mb-3">
              <label cLabel="col" cCol [sm]="2" for="Tabelname"> Name </label>
              <c-col [sm]="4">
                <input
                  class="form-control"
                  [ngStyle]="{
                    'border-color':
                      TableFrom.controls.storeName.invalid &&
                      TableFrom.controls.storeName.touched
                        ? 'red'
                        : '#b1b7c1'
                  }"
                  formControlName="storeName"
                  type="text"
                  [(ngModel)]="data.storeName"
                  name="tablename"
                />
                <div
                  class="errorMessage"
                  *ngIf="
                    TableFrom.controls.storeName.invalid &&
                    TableFrom.controls.storeName.touched
                  "
                >
                  Store Name is required.
                </div>
              </c-col>
              <label
                cLabel="col"
                cCol
                [sm]="2"
                for="location"
                style="text-align: right"
              >
                Location
              </label>
              <c-col [sm]="4">
                <input
                  class="form-control"
                  [ngStyle]="{
                    'border-color':
                      TableFrom.controls.location.invalid &&
                      TableFrom.controls.location.touched
                        ? 'red'
                        : '#b1b7c1'
                  }"
                  formControlName="location"
                  type="text"
                  [(ngModel)]="data.location"
                  name="location"
                />
                <div
                  class="errorMessage"
                  *ngIf="
                    TableFrom.controls.location.invalid &&
                    TableFrom.controls.location.touched
                  "
                >
                  Location is required.
                </div>
              </c-col>
            </c-row>
            <!-- -- -->
            <c-row class="mb-3">
              <label
                cLabel="col"
                cCol
                [sm]="2"
                for="email"
                style="text-align: left"
              >
                email
              </label>
              <c-col [sm]="4">
                <input
                  class="form-control"
                  formControlName="email"
                  cFormControl
                  id="email"
                  rows="3"
                  [(ngModel)]="data.email"
                  name="email"
                />
              </c-col>

              <label
                cLabel="col"
                cCol
                [sm]="2"
                for="phoneNumber"
                style="text-align: right"
              >
                phone
              </label>
              <c-col [sm]="4">
                <input
                  class="form-control"
                  formControlName="phoneNumber"
                  cFormControl
                  id="phoneNumber"
                  rows="3"
                  [(ngModel)]="data.phoneNumber"
                  name="phoneNumber"
                />
              </c-col>
            </c-row>
            <!-- -- -->
            <c-row class="mb-3">
              <label
                cLabel="col"
                cCol
                [sm]="2"
                for="managerName"
                style="text-align: left"
              >
                Manager Name
              </label>
              <c-col [sm]="4">
                <input
                  class="form-control"
                  formControlName="managerName"
                  cFormControl
                  id="managerName"
                  rows="3"
                  [(ngModel)]="data.managerName"
                  name="managerName"
                />
              </c-col>
            </c-row>
            <c-row class="mb-3">
              <label cLabel="col" cCol [sm]="2"> </label>
              <c-col [sm]="4">
                <input
                  class="form-check-input"
                  formControlName="isSaleStore"
                  [(ngModel)]="data.isSaleStore"
                  type="checkbox"
                  value="false"
                  id="isSaleStore"
                />
                <label class="form-check-label" for="isSaleStore">
                  Sale Store?
                </label>
              </c-col>
            </c-row>
          </c-col>
        </c-row>
      </form>
    </c-card-header>
  </c-card>
  <c-card *ngIf="data.storeId != ''">
    <c-card-body>
      <c-row>
        <c-col
          >Created this record by {{ data.createdByCode }} On
          {{ data.createdOn | date : "medium" }}</c-col
        >
      </c-row>
      <c-row>
        <c-col
          >Modified this record by {{ data.modifiedByCode }} On
          {{ data.modifiedOn | date : "medium" }}
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</c-container>
