<c-container>
  <c-card class="mb-4">
    <c-card-header>
      <form  [formGroup]="TableFrom" (submit)="Save()"  class="form-group" tableName>
      <c-row class="mb-3">
        <c-col [sm]="7">
      <h5 *ngIf="data.tableId" >Edit Table </h5>
      <h5 *ngIf="!data.tableId" >Add Table </h5>
    </c-col>

        <c-col [sm]="5">
          <c-button-group aria-label="Basic mixed styles example" role="group" >
            <button cButton    color="success"[disabled]="!TableFrom.valid" type="submit"><svg cIcon name="cilSave" size="sm" title="Paper Plane Icon"></svg> | Save</button>
            <button cButton color="primary"(click)="New()" ><svg cIcon name="cilReload" size="sm" title="Paper Plane Icon"></svg> | New</button>
            <button cButton color="danger"(click)="delete()" [disabled]="!data.tableId" ><svg cIcon name="cilDelete" size="sm" title="Paper Plane Icon"></svg> | Delete</button>
          </c-button-group>
        </c-col>


    </c-row>

      <hr>

        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="Tabelname">
            Table Name
          </label>
          <c-col [sm]="4">
            <input class="form-control"
            [ngStyle]="{'border-color': (TableFrom.controls.tableName.invalid && TableFrom.controls.tableName.touched) ? 'red' : '#b1b7c1'}"
            formControlName="tableName"  type="text" [(ngModel)]="data.tableName" name="tablename" />
            <div  class="errorMessage" *ngIf="TableFrom.controls.tableName.invalid && TableFrom.controls.tableName.touched">Table Name is required.</div>
          </c-col>
          <label cLabel="col" cCol [sm]="2" for="TabelNo" style="text-align: right;">
            Tabel No
          </label>
          <c-col [sm]="4">
            <input class="form-control"
            [ngStyle]="{'border-color': (TableFrom.controls.tableNo.invalid && TableFrom.controls.tableNo.touched) ? 'red' : '#b1b7c1'}"
            formControlName="tableNo" type="text"  [(ngModel)]="data.tableNo" name="tableno" />
            <div class="errorMessage" *ngIf="TableFrom.controls.tableNo.invalid && TableFrom.controls.tableNo.touched">Table No is required.</div>

          </c-col>
        </c-row>
        <c-row class="mb-3">
          <label cLabel="col" cCol [sm]="2" for="status" >
            Status
          </label>
          <c-col [sm]="4">
          <select formControlName="status" [(ngModel)]="data.status" name="status" cSelect>

            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>

          </select>

          </c-col>
          <label cLabel="col" cCol [sm]="2" for="location" style="text-align: right;">
            location
          </label>
          <c-col [sm]="4">
            <textarea formControlName="location"  cFormControl id="location" rows="3" [(ngModel)]="data.location" name="location"></textarea>
          </c-col>
        </c-row>


      </form>

</c-card-header>
</c-card>
<c-card *ngIf="data.tableId!=''">
  <c-card-body>
    <c-row>
      <c-col>Created this record by {{data.createdByCode}} On  {{data.createdOn| date:'medium'}}</c-col>

    </c-row>
    <c-row>
      <c-col>Modified this record by {{data.modifiedByCode}} On {{data.modifiedOn| date:'medium'}} </c-col>

    </c-row>

  </c-card-body>
</c-card>


</c-container>

